@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #edf5f7;
  color: #444;
  margin: 0;
}

body * {
  font-family: "Poppins";
}

header {
  font-weight: 300;
  font-style: italic;
}

/* nav filter */
.filter button {
  border-radius: 20px;

}

.new-task-form {
  max-width: 640px;
  margin: 20px auto;
}

/* task list */
.task-list {
  max-width: 640px;
  margin: 0px auto;
}

.task {
  padding: 2px 20px;
  background: #fff;
  margin-top: 5px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}

.task:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.task .icons {
  display: inline-block;
}

.task .title {
  flex-grow: 2;
  margin-left: 8px;
}
.task .title p{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 11px;
  font-style: italic;
  color: gray;
}
.task .title h3{
  margin-top: 0px;
}

.task .title input{
  margin-top: 0px;
}

.task .o-right {
  text-align: right;
}

.task .o-left {
  text-align: left;
}

.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}